/* 
    系统界面UI样式.
    Created on : 2019-6-10, 18:04:19
    Author     : qingpengbo, chenxi
*/

/* 通用Cursor样式 */
.cursor-hand{
    -fx-cursor:hand;
}
/* 登录背景 */
#mainBackground{
    -fx-background-image:url("/images/bg.png");
}
/* 登陆按钮样式 */
.login-btn{
    -fx-font-size:20.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#ffffff; 
    -fx-background-color:#4581bf; 
    -fx-background-radius:30.0px;
    -fx-border-radius:30.0px;
    -fx-pref-height:44.0px;
    -fx-effect:dropshadow(three-pass-box, #72b9da, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}
/* 登陆按钮鼠标选中样式 */
.login-btn:hover{
    -fx-background-color:#36699e; 
}
/* 机构选择列表控件样式 */
.organ-list-view{
    -fx-background-color:transparent;
    -fx-background-insets:0.0px;
    -fx-border-color:transparent;
    -fx-cursor:hand;
}
/* 机构选择列表cell样式 */
.organ-list-view .list-cell{
    -fx-font-size:18.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#ffffff;
    -fx-pref-height:40.0px;
    -fx-alignment:center;
    -fx-background-color:#4581bf;
    -fx-background-radius:30.0px;
    -fx-border-radius:30.0px;
    -fx-border-color:#ffffff;
}
/* 机构选择列表cell鼠标选中样式 */
.organ-list-view .list-cell:hover{
    -fx-background-color:#36699e;
}
/* 会议首页父会名称样式 */
.index-meeting-title{
    -fx-font-size:28.0px;
    -fx-font-family:"Arial";
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-text-alignment:center;
    -fx-background-color:#ffffff;
}
/* 会议首页"会议信息"名称样式 */
.index-title{
    -fx-font-size:20.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#000000;
    -fx-background-color:#ffffff; 
}

.text-area {
    -fx-background-color:transparent; 
}
.text-area .scroll-pane{
    -fx-background-color:transparent;
} 
.text-area .scroll-pane .viewport {
    -fx-background-color:transparent;
}
.text-area .scroll-pane .content {
    -fx-background-color:transparent; 
}
/* 左侧会议列表欢迎样式 */
.meeting-welcome{
    -fx-font-size:36.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#ffffff;
    -fx-background-color: #4581bf;
    -fx-background-radius:0.0px;
    -fx-border-radius:0.0px;
}
/* 左侧会议列表用户名称样式 */
.meeting-user{
    -fx-font-size:26.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#ffffff;
    -fx-background-color: #4581bf;
    -fx-background-radius:0.0px;
    -fx-border-radius:0.0px;
    -fx-padding: -20.0px 0.0px 0.0px 20.0px;
}
/* 左侧会议列表会议类型名称样式 */
.meeting-list-title
{   
    -fx-font-size:26.0;
    -fx-font-family:"Arial";
    -fx-font-weight:bold;
    -fx-background-color: #ffffff;
    -fx-text-fill:#4581bf;
}
/* 左侧会议列表样式 */
.meeting-list-view{
    -fx-border-color:#ffffff;
    -fx-background-insets:0.0px;
}
/* 左侧会议列表隐藏滚动条样式 */
.meeting-list-view .scroll-bar:horizontal .increment-arrow,
.meeting-list-view .scroll-bar:horizontal .decrement-arrow,
.meeting-list-view .scroll-bar:horizontal .increment-button,
.meeting-list-view .scroll-bar:horizontal .decrement-button,
.meeting-list-view .scroll-bar:vertical .increment-arrow,
.meeting-list-view .scroll-bar:vertical .decrement-arrow,
.meeting-list-view .scroll-bar:vertical .increment-button,
.meeting-list-view .scroll-bar:vertical .decrement-button{
    -fx-padding:0.0px;
}
/* 左侧会议列表退出按钮样式 */
.exit-btn{
    -fx-font-size:26.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#ffffff;
    -fx-background-color:#4581bf; 
    -fx-background-radius:0.0px;
    -fx-border-radius:0.0px;
    -fx-cursor:hand;
}
/* 退出按钮鼠标选中样式 */
.exit-btn:hover{
    -fx-background-color:#36699e; 
}
/* 文件界面议题名称样式 */
.file-issueName{
    -fx-font-size:22.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#000000; 
    -fx-background-color:#ffffff; 
}
/* 修改密码标题样式 */
.resetPassword-title{
    -fx-font-size:16.0px;
    -fx-font-family:"Arial";
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-text-alignment:center;
    -fx-alignment:center;
    -fx-background-color:#f4f4f4; 
}
/* 修改密码提示语样式 */
.resetPassword-info{
    -fx-font-size:12.0px;
    -fx-font-family:"Arial";
    -fx-text-fill:#000000;
    -fx-text-alignment:center;
    -fx-alignment:center;
    -fx-background-color:#f4f4f4; 
}
/* 修改密码输入框样式 */
.resetPassword-input{
    -fx-font-size:12.0px;
    -fx-font-family:"Arial";
}
/* 修改密码按钮样式 */
.resetPassword-button{
    -fx-font-size:12.0px;
    -fx-font-family:"Arial";
    -fx-text-alignment:center;
}